<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cooperation_approval_board">
	<select id="getMyCooreport_noList" parameterType="int" resultType="Integer">
		select cooreport_no from cooperation_approval where member_no=#{member_no}
	</select>
	
	<select id="getMyApprovalRowsByNo" parameterType="int" resultType="com.khacademy.khoffice.approval.models.CooperationApprovalBoardListDTO">
		select v.cooapproval_no,c.cooreport_no,m.member_no,c.title,
		c.reg_date,m.name approval_name,v.status,m2.name report_name,
		m.position approval_position, m2.position report_position
		from cooperation_approval v inner join cooperation_report c
		on v.cooreport_no=c.cooreport_no inner join member m
		on m.member_no=v.member_no inner join member m2
		on m2.member_no=c.member_no where c.cooreport_no=#{cooreport_no}
		order by v.cooapproval_no
	</select>
	
	<update id="updateCooApprovalStatus" parameterType="com.khacademy.khoffice.approval.models.CooperationApprovalUpdateStatusDTO">
		update cooperation_approval set status=#{status} where cooreport_no=#{cooreport_no} and member_no=#{member_no}
	</update>
	
	<update id="updateLastApprovalStatus" parameterType="com.khacademy.khoffice.approval.models.CooperationApprovalUpdateStatusDTO">
		update cooperation_approval set status=3 where cooreport_no=#{cooreport_no} and member_no=#{member_no}
	</update>
</mapper>